@font-face {
    font-family: bubblegum;
    src: url("BubblegumSans-Regular.ttf");
  }

body {
    font-family: 'bubblegum', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ba
}

header {
    text-align: center;
    padding: 24px;
    font-size: 72px;
    font-weight: 700;
}

.game {
    border: black solid 2px;
    width: 704px;
    height: 704px;
    display: flex;
    flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  box-sizing: border-box;
  border: grey solid 1px;
}

.buttons {
    display: flex;
    flex: auto;
    justify-content: space-around;
    width: 704px;
    padding: 24px;
}

button {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
  }
  
  button::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  button:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  button:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }